body {
    text-align: center; 
}

.homePage {
    margin-top: 45%; 

}

.user-img {
    width: 480px;
    height: 360px;
}

.det-img {
    width: 480px;
    height: 360px;
}

.del-img {
    width: 480px;
    height: 360px;
}
